body {
    font-family: 'Montserrat', sans-serif;
}

.shoeProduct {
    display: flex;
    flex-direction: column;
    align-items: center;

}
 img{
    width: 888px;
}


#shoeName {
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    bottom: 60px;
    left: 40px;
}

#price {
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    bottom: 60px;
    left: 40px;
}

#flexConatiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: row-reverse;
}

.buttoms {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
a#buy {
    background-color: red;
    color: white;
    padding: 30px 35px;
    margin-bottom: 15px;
    font-size: 20px;
}

a#favorite {
    background-color: #D8D8D8;
    color: black;
    padding: 31px;
    font-size: 20px;
}
.container a#buy:hover {
    background-color: #aa3a47;
}

.container a#favorite:hover {
    background-color: #eaeaea;
}

.Sizes {
    display: flex;
    flex-direction: column;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
    margin-bottom: 30px;
} 

 a.size {
    color: black;
    padding: 10px;
    background-color: #D8D8D8;
    text-align: center;
}

a.size:hover {
    background-color: #eaeaea;
}

 

#sizeText {
    color: black;
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

div#aboutShoe {
    font-size:15px ;
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-bottom: 30px;
}

@media (max-width: 900px) {
    img{
        width: 600px;
    }

    #shoeName {
        font-size: 30px;
        margin-bottom: 20px;
        position: relative;
        bottom: 40px;
        left: 20px ;
    }
    
    #price {
        font-size: 30px;
        margin-bottom: 20px;
        position: relative;
        bottom: 40px;
        left: 20px;
    }
}

@media (max-width: 600px) {
    #flexConatiner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
        flex-direction: column-reverse;
    }

    img{
        width: 300px;
    }

    .gridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 15px;
        width: 200px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 0px;
        margin-bottom: 30px;
    } 

    #sizeText {
        color: black;
        font-size: 30px;
        margin-left: 0px;
        margin-bottom: 50px;
        font-family: 'Montserrat', sans-serif;
    }

    #shoeName {
        font-size: 30px;
        margin-bottom: 20px;
        position: relative;
        bottom: 40px;
        left: 0;
    }
    
    #price {
        font-size: 30px;
        margin-bottom: 20px;
        position: relative;
        bottom: 40px;
        left: 0;
       
    }

    div#aboutShoe {
        font-size:15px ;
        margin-left:10px;
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        margin-bottom: 30px;
    }
}
